{% extends 'base.html' %}

{% block content %}

<main>
    <div>
        <h1>ExpenseCategory List</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
            <thead>
            <tbody>
                {% for item in categories %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.receipts.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock content %}